@page
@model Earth.Ear.Therapy.FanFoot.Pages.web.IndexModel
@*@{
        ViewData["Title"] = "Index";
    }*@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<link rel="stylesheet" type="text/css" href="~/css/site.css" />

<h1>Menu</h1>

@if (Model.LastSeasons != null)
{
    <p>Last Seasons:</p>
    <table class="seasons">
        <thead>
            <tr>
                <th>Id</th>
                <th>Begin Date</th>
                <th>End Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var seasonEntity in Model.LastSeasons)
            {
                <tr>
                    <td>@seasonEntity.SeasonId</td>
                    <td>@seasonEntity.BeginDateTimeUtc.ToString("yyyy-MMM-dd")</td>
                    <td>@seasonEntity.EndDateTimeUtc.ToString("yyyy-MMM-dd")</td>
                    <td><a href="@Url.Page("./Seasons/Update")?seasonId=@seasonEntity.SeasonId">Update</a> | <a href="@Url.Page("./Seasons/Delete")?seasonId=@seasonEntity.SeasonId">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
}

<p>Options:</p>
<p>0. <a href="@Url.Page("./Seasons/Create")">Create New Season.</a></p>
<p>1. <a href="@Url.Page("./Results/CreateWeeklyResultsSet")">Create Weekly Results Set.</a></p>
<p>2. <a href="@Url.Page("./Results/CreateWeeklyDocument")">Create Weekly Results Document.</a></p>
